<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="logo">Demo</div>
        <div class="menu">
            <a href="/index">Home</a>
            <a href="/register">Register</a>
            <a href="/login">login</a>
            <a href="/profile">profile</a>
        </div>
        </nav>
    <div class="container">
       <h2>Hi welcome to my page</h2> 
    </div>
</body>
</html>