<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="logo">Demo</div>
        <div class="menu">
            <a href="/index">Home</a>
            <a href="/register">Register</a>
            <a href="/login">login</a>
            <a href="/profile">profile</a>
        </div>
        </nav>
    <div class="container">
       <h2>User profile</h2> 
       <img src="/images/download.png"/>
       <h3>Name : User full Name</h3>
       <h3>Email : User Email</h3>
    </div>
</body>
</html>